*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: url("image.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
   
}

#header{
    /* position: fixed; */
    width: 100%;
    height: 20px;
    border: 1px solid yellow;
    border-radius: 50px;
    padding: 20px 100px ;
    background: rgba(255,255,255,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    
   
}

.logo{
    color: aliceblue;
    font-size: 25px;
     text-decoration: none;
     cursor: pointer;
}

.navbar a{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    border-right: 10px;
}

#h1:hover{
  border: 2px solid rgb(111, 179, 111);
  border-radius: 12px;
  padding: 8px;
  color: rgb(15, 184, 130);
  transition: .3s;
  background-color: rgb(187, 227, 10);
}

#h2:hover{
    border: 2px solid rgb(82, 179, 159);
    border-radius: 12px;
    padding: 8px;
    color: rgb(20, 227, 13);
    transition: .3s;
    background-color: antiquewhite;
  }

  #h3:hover{
    border: 2px solid rgb(170, 160, 47);
    border-radius: 12px;
    padding: 8px;
    color: rgb(94, 92, 236);
    transition: .3s;
    background-color: rgb(214, 132, 214);
  }

  #h4:hover{
    border: 2px solid rgb(58, 119, 177);
    border-radius: 12px;
    padding: 8px;
    transition: .3s;

    background-color: rgb(214, 132, 214);
  }

  #h5:hover{
    border: 2px solid rgb(90, 24, 125);
    border-radius: 12px;
    padding: 8px;
    color: rgb(230, 119, 9);
    transition: .3s;
    background-color: rgb(213, 181, 142);
  }

  .logo:hover{
    color: aquamarine;
    border: 2px solid green;
    border-left:none ;
    border-top: none;
    border-right: none;
  }

  .login{
   
    color: aliceblue;
    border: 2px solid antiquewhite;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 50px; 
    margin-right: 200px; 
   width: 500px;
   height: 400px;
   padding: 70px;
   padding-top: 20px;
   background-color:rgb(56, 49, 8) ;
  opacity: 0.5;
  border-style: groove;
  border-radius: 8px;

  }

  
  button{
    display: flex;
    justify-content: center;
    /* margin-top: 60px; */
    font-size: 29px;
    
  }
  .login:hover{
    border: 2px solid rgb(18, 197, 113);
    box-shadow: 0 0 20px rgb(106, 255, 0),inset 0 0 10px rgb(20, 165, 39);
  }

  #button{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 29px;
    
    
  }
  


  #bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  #userid{
display: flex;
margin-top: 30px;

  }

  #password{
    display: flex;
    margin-top: 15px;
    margin-left: 1px;
  }
  #password img{
    height: 35px;
  }
  img{
    width: 35px;
    height: auto;

  }

  #login1{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 26px;
    
  }

input{
  border: 2px solid rgb(233, 233, 117);
  color: aqua;
  background: rgba(14, 142, 211, 0.1);
  height: 30px;
  width: fit-content;
  border-top: none;
  border-left: none;
  width: 164px;
  border-right: none;

}

.placeholder1{
  width: 200px;
  margin-left: 8px;
  outline: none;
  
 
}
#button{
  height: 40px;
  width: 300px;
  background-color: rgb(143, 148, 143);
  border: 3px solid rgb(62, 83, 148);
  border-radius: 10px;

}

#button:hover{
  background-color: green;
 border: 2px solid yellow;
}

#check1{
  display: flex;
}
.checkbox1{
  width: 18px;
  margin-right: 10px;
  margin-top: 3px;
  margin-left: 9px;
}

span{
  margin-top: 8px;
}

#whole{
  display: flex;
  flex-direction: row;
}


#signup{
 width: 500px;
 height: 484px;
  border: 2px solid rgb(118, 134, 118);

  margin-top: 70px;
  color: aliceblue;
  border-radius: 10px;
  
 
}
  #signup:hover{
    border: 2px solid #0ef;
    box-shadow: 0 0 10px rgb(26, 255, 0),inset 0 0 10px;
  }



h1{
  margin-left: 190px;
  margin-top: 10px;
}
h4{
  color: rgb(16, 240, 240);
  margin-top: 20px;
  

  margin-left: 20px;
}

#secure{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 400px;
  writing-mode: vertical-lr;
  font-size: 20px;
}

.name1{
  width: 250px;
  text-shadow: 20px;
}

button{
  border: 2px solid rgb(203, 228, 16);

}
#sig{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 40px;
}

.button{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(117, 178, 55);
  border-radius: 8px;
}

button:hover{
  cursor: pointer;
}
#log{
  margin-left: 20px;
}
#new:hover{
  cursor: pointer;
}

.name1{
  outline: none;

}


#or{
  color: aliceblue;
  margin-top: 10px;
  margin-left: 210px;
  font-size: 20px;
}

#sigbot img{
margin-top: 20px;
margin-left: 30px;
}

#divimg{
  display: flex;
  justify-content: center;
}
#divimg:hover{
  cursor: pointer;
}


#email1{
  width: 250px;
}
























